<!doctype html>
<html lang="{{locale}}" dir="{{dir}}">
  <head>
    {%- auth0:head -%} 
    <style>
      html, body {
        background-color: #81cdc6
      }
    </style>
    {% if application.logo_url %}
    <style>
      #custom-prompt-logo {
        background-image: url("{{ application.logo_url }}");
        display: block;
      }
      #prompt-logo-center {
        display: none;
      }
    </style>
    {% endif %}
  </head>
  <body class="_widget-auto-layout" data-prompt="{{prompt.name}}" data-screen="{{prompt.screen.name}}">
    {%- auth0:widget -%}
    <script>console.log("Loading a custom page template ...");</script>
  </body>
</html>
